* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #10100e;
}
ul {
  list-style-type: none;
  padding: 0;
}
#user-list li {
  color: #ffffe3;
  background-color: rgba(238, 130, 238, 0) !important;
}

#user-list{


}
.wid{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.wid svg{
    width: 100%;
}
.active {
    padding: 5px;
  border: 0.5px solid #ffffe3;
  width: 90%;
  height: 13vh;
  overflow-y: scroll;
}

.active::-webkit-scrollbar {
  width: 0;
}

#messages li {
    color: #ffffe3;
    background-color: rgba(238, 130, 238, 0) !important;
}
input,
button {
  padding: 10px;
}
#status {
  margin-bottom: 20px;
}
#username-section {
  display: block;
}

.mes{
    height: 60vh;
   padding: 30px;
   margin-top: 50px;
   overflow-y: scroll;
   border: 2px solid #30302b;

}
.mes::-webkit-scrollbar{
    width: 0;
}
#chat-section {
  display: none;
}
.media-message img,
.media-message video {
  max-width: 100%;
}
#exit-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
#modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
#modal-content button {
  margin: 10px;
}

#username-section {
  background-color: #10100e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#username-section svg {
  width: 100%;
}
#username-section input {
  width: 100%;
}
.rooms {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.rooms2 {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

/* From Uiverse.io by saidbl1 */
.inputBox {
  position: relative;
}

.inputBox input {
  padding: 15px 20px;
  outline: none;
  background: transparent;
  border-radius: 5px;
  color: #ffffe3;
  border: 1px solid#30302b;
  font-size: 1em;
}

.inputBox span {
  position: absolute;
  left: 0;
  font-size: 0.7em;
  transform: translateX(14px) translateY(-7.5px);
  padding: 0 6px 1px 5px;
  border-radius: 2px;
  background: #212121;
  letter-spacing: 1px;
  border: 1px solid #30302b;
  color: #ffffe3;
}

.bod {
  border: 2px solid#ffffe3;
  width: 70%;
  padding: 70px;
}

.inputBox button {
  width: 55%;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffe3;
  border: 2px solid #30302b;
  margin-top: 20px;
}

.bod svg {
  width: 100%;
  fill: none !important;
}
 .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: sv 5s linear alternate infinite;
}

@keyframes sv {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
::placeholder {
  text-transform: capitalize;
}
.para {
  color: #ffffe3;
  text-transform: capitalize;
  font-size: 12px;
  text-align: center;
  position: absolute;
  top: 85%;
}

@media (max-width: 1000px) {
  .out {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .rooms,
  .rooms2 {
    display: flex;
    align-items: center;
  }

  .bod {
    border: 2px solid#ffffe3;
    width: 90%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
  }
}

#chat-section {
  color: #ffffe3;
  background-color: #10100e;
}

.formschat {
  padding: 10px;
  width: 100%;
  position: fixed;
  top: 80%;
}

.formschat input {
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  background-color: #f4f4f400;
  border: 2px solid #30302b;
}

#form {
  display: flex;
  gap: 30px;
}

#form button {
  border: 2px solid #30302b;
  background-color: #30302b00;
  color: #ffffe3;
}

#file-input {
  margin-top: 10px;
}

#file-input button {
  background-color: #10100e;
  border: 2px solid #30302b;
}

#file-input::file-selector-button {
  background: #084cdf00;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffe3;
  outline: none;
}
